@import "tailwindcss";

:root {
  --background: #fffdf5; /* #ebebeb; */
  --primary: #18375e; /* #10367d */
  --secondary: #1c4a9f;
}

@theme inline {
  --color-background: var(--background);
  --font-rakkas: var(--font-rakkas);
  --font-montserrat: var(--font-montserrat);
  --font-odorMeanChey: var(--font-odor-mean-chey);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

/* watermrk vertical class */
.verticalWatermarkText {
  writing-mode: vertical-rl;
}

/* vertical text */
.verticalText {
  writing-mode: sideways-lr;
}

::-webkit-scrollbar {
  display: none;
}
